.c-skip-link {
    background-color: #333;
    background-color: var(--color-dark-2, #333);
    color: #fff;
    left: 0;
    padding: 1em;
    position: absolute;
    top: 0;
    z-index: 2147483647
}

.c-skip-link:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0
}

.c-chat-tab {
    position: fixed;
    right: 0;
    bottom: 260px;
    transform: rotate(-90deg) translateX(100%);
    transform-origin: right bottom;
    z-index: 110;
    background-color: transparent;
    border: none;
    padding: 0
}

.c-chat-kustomer {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 90;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2), 0 2px 32px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 12px 7px 7px;
    width: 50px
}

.c-chat-kustomer:hover {
    background-color: #333;
    background-color: var(--color-dark-2, #333)
}

.icon-chat {
    font-size: 2.2em
}

.sgv2 .c-chat-kustomer {
    width: 55px;
    height: 55px
}

.sgv2 .c-chat-kustomer .icon-chat {
    font-size: 26px;
    position: relative;
    top: -2px
}

@media screen and (max-width: 760px) {
    .c-chat-tab {
        bottom: 200px
    }

    .c-chat-kustomer--up {
        position: fixed;
        right: 20px;
        bottom: 150px;
        z-index: 90
    }

    .sgv2 .c-chat-kustomer {
        width: 48px;
        height: 48px
    }

    .sgv2 .c-chat-kustomer .icon-chat {
        font-size: 22px
    }
}

@media screen and (max-width: 760px)and (orientation:landscape) {
    .c-chat-tab {
        bottom: 150px
    }
}

#attentive_overlay {
    z-index: 90 !important
}

#top-banner-container.c-top-banner {
    overflow: hidden;
    text-align: center;
    background-color: #f7f7f7;
    background-color: var(--color-light-3, #f7f7f7);
    position: relative;
    z-index: 121;
    top: 0;
    width: 100%
}

#top-banner-container .c-top-banner__close {
    border: 0;
    top: 0;
    font-size: .857142em;
    font-size: var(--body-font-size-sm, .857142em);
    padding: 0 15px;
    position: absolute;
    z-index: 5;
    height: 100%;
    right: 0;
    background-color: transparent
}

#top-banner-container .c-top-banner__close:after {
    content: "x"
}

.c-top-banner__content>div {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center
}

.c-top-banner__content p {
    margin: 0
}

#top-banner-mobile,
#top-banner-tablet {
    display: none
}

@media screen and (max-width: 1279px) {
    #top-banner-desktop {
        display: none
    }
}

@media screen and (min-width: 761px)and (max-width:1279px) {
    #top-banner-tablet {
        display: flex
    }
}

@media screen and (max-width: 760px) {
    @-webkit-keyframes bannerRotate {
        5% {
            opacity: 1;
            z-index: 10
        }

        45% {
            opacity: 1
        }

        50% {
            opacity: 0
        }
    }

    @keyframes bannerRotate {
        5% {
            opacity: 1;
            z-index: 10
        }

        45% {
            opacity: 1
        }

        50% {
            opacity: 0
        }
    }

    #top-banner-mobile {
        display: flex
    }

    #top-offer-display-mobile {
        display: none
    }

    .top-offer-content-mobile {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 1
    }

    .top-offer-content-mobile~.top-offer-content-mobile {
        opacity: 0;
        position: absolute
    }

    .animate-2 .top-offer-content-mobile {
        opacity: 0;
        -webkit-animation: bannerRotate 12s infinite;
        animation: bannerRotate 12s infinite
    }

    .animate-2 .top-offer-content-mobile+.top-offer-content-mobile {
        -webkit-animation-delay: 6s;
        animation-delay: 6s
    }
}

.c-top-runner {
    overflow: hidden;
    text-align: center
}

.c-top-runner__content>div {
    margin-top: 0 !important
}

.c-top-runner__content a {
    text-decoration: none
}

.sgv2 .c-top-runner {
    margin-bottom: 15px
}

.c-search-desktop__input {
    width: 150px;
    padding: 3px 0 0;
    border: 0;
    border-bottom: 1px solid #333;
    border-bottom: 1px solid var(--color-dark-2, #333);
    margin-right: -8px
}

.c-search-desktop__wrap {
    align-self: center
}

.c-cat-nav__tray {
    width: 100%;
    left: 0
}

.c-cat-nav__innertray {
    padding-left: 7vw;
    padding-right: 7vw;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    margin-bottom: 15px
}

.c-nav__columns {
    display: flex
}

.c-nav__colwrap {
    display: flex;
    flex-direction: column;
    position: relative
}

.c-nav__col {
    margin: 0 0 15px;
    line-height: 1.6;
    padding-right: 15px;
    min-width: 160px;
    text-align: left
}

.c-nav__link.bold-accent {
    color: #d14642;
    color: var(--color-red-5, #d14642)
}

.c-cat-nav__tray:not(.hide-col-1-border) .c-nav__colwrap:first-child,
.col-1-border .c-nav__colwrap:first-child,
.col-2-border .c-nav__colwrap:nth-child(2),
.col-3-border .c-nav__colwrap:nth-child(3),
.col-4-border .c-nav__colwrap:nth-child(4),
.col-5-border .c-nav__colwrap:nth-child(5),
.col-6-border .c-nav__colwrap:nth-child(6) {
    border-right: 1px solid #eee;
    border-right: 1px solid var(--color-light-4, #eee);
    margin-right: 30px;
    height: calc(100% - 30px)
}

.c-cat-nav__tray:not(.hide-col-1-border) .c-nav__colwrap:first-child .c-nav__col {
    min-width: 210px
}

.c-nav__col--wrap {
    width: auto;
    padding: 0
}

.c-nav__col--wrap .c-nav__subcats {
    -moz-column-count: 2;
    column-count: 2;
    margin-top: 10px
}

.c-nav__col--wrap .c-nav__subcats .c-nav__sublink {
    margin-top: 0;
    width: 160px
}

.c-nav__col--wrap .col-break {
    -moz-column-break-before: column;
    break-before: column
}

.c-nav__col--img {
    margin-right: 20px;
    width: auto
}

.c-nav__img-caption {
    text-align: center;
    text-transform: uppercase;
    font-family: ProximaNova-SemiBold, sans-serif;
    font-family: var(--base-font-bold, "ProximaNova-SemiBold", sans-serif);
    font-weight: 400;
    white-space: nowrap;
    margin-top: 10px
}

@media screen and (min-width: 1280px) {
    .c-cat-nav__tray .c-nav__columns {
        width: 1130px
    }
}

@media screen and (min-width: 1905px) {
    .c-header--min .c-cat-nav__innertray {
        justify-content: flex-start;
        padding-left: 180px
    }
}

.c-site-nav {
    flex: 1;
    display: none;
    flex-direction: row;
    justify-content: flex-start
}

.c-site-nav .c-nav__item {
    padding: 0 15px
}

.c-site-nav .title-capitalized {
    font-size: 14px;
    text-transform: capitalize
}

@media screen and (min-width: 1280px) {
    .c-site-nav {
        display: flex
    }
}

.c-acc-menu .icon-avatar {
    position: relative;
    left: 1px
}

.c-acc-menu .icon-lulus-circle {
    font-size: 24px
}

.c-acc-menu .c-nav__menu-content {
    padding-bottom: 0
}

.c-acc-menu__name {
    max-width: 140px
}

.c-acc-menu__vip {
    letter-spacing: 0;
    font-size: .7142857em;
    font-size: var(--body-font-size-xs, .7142857em);
    line-height: var(--body-line-height-xs, )
}

.c-acc-menu__links {
    margin: 0 -15px
}

.c-acc-menu__links--loggedIn {
    margin-top: 20px;
    border-top: 1px solid #eee;
    border-top: 1px solid var(--color-light-4, #eee)
}

.c-acc-menu__links a {
    color: #333;
    color: var(--color-dark-2, #333);
    height: 45px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid var(--color-light-4, #eee)
}

.c-acc-menu__links a:hover {
    color: #767676;
    color: var(--color-gray-4, #767676)
}

.c-acc-menu__links a:last-child {
    border: 0
}

@media screen and (max-width: 374px) {
    .ge-flag-show img {
        margin-left: 26px;
        max-width: 23px;
        max-height: 25px
    }
}

@media screen and (max-width: 1279px) {
    .c-menu-item .ge-flag-show {
        top: 4px;
        position: relative
    }
}

@media screen and (min-width: 1280px) {
    .c-menu-item .ge-flag-show {
        top: -1px;
        position: relative
    }
}

@media screen and (max-width: 1279px) {
    .c-header__menu-btn {
        display: flex;
        align-items: center;
        padding: 0 17px
    }

    .c-header__menu-btn .icon {
        font-size: 25px;
        margin-top: 7px;
        height: 28px
    }

    .sgv2 .c-header__menu-btn {
        padding: 0 20px
    }

    .sgv2 .c-header__menu-btn .icon-menu-v2 {
        margin-top: 11px;
        font-size: 19px
    }

    .sgv2 .c-header__menu-btn .icon-close {
        margin-left: -3px
    }
}

.c-search-mobile__btn {
    padding-left: 0;
    padding-right: 5px
}

.c-search-mobile__input {
    background: transparent;
    border: 0;
    font-size: 1.142857em;
    font-size: var(--body-font-size-lg, 1.142857em)
}

.c-search-mobile__input::-moz-placeholder {
    font-size: .7142857em;
    font-size: var(--body-font-size-xs, .7142857em)
}

.c-search-mobile__input:-ms-input-placeholder {
    font-size: .7142857em;
    font-size: var(--body-font-size-xs, .7142857em)
}

.c-search-mobile__input::placeholder {
    font-size: .7142857em;
    font-size: var(--body-font-size-xs, .7142857em)
}

.c-search-mobile__arrow {
    margin-left: auto;
    font-size: 1em;
    font-size: var(--body-font-size-reg, 1em);
    padding-right: 0
}

.sgv2 .c-search-mobile__input-group {
    border-bottom: 1px solid var(--color-gray-1);
    padding-left: 20px;
    height: 52px
}

.sgv2 .c-search-mobile__input-group .icon-search-v2:before {
    font-size: 20px
}

.sgv2 .c-search-mobile__arrow {
    padding: 10px;
    position: absolute;
    top: 9px;
    right: 9px
}

.c-subsite-icon {
    color: #333;
    color: var(--color-dark-2, #333);
    font-size: 20px;
    margin-right: 5px
}

.c-subsite-icon:hover {
    color: #aaa;
    color: var(--color-gray-2, #aaa);
    transition: color .1s
}

.c-subsite-links {
    color: #333;
    color: var(--color-dark-2, #333);
    width: 100%
}

.c-menu__link--icon {
    margin-right: 0
}

.sgv2 .c-subsite-insubsite {
    display: none
}

.sgv2 .c-subsite-not-insubsite,
.sgv2 .c-subsite-show .c-subsite-insubsite {
    display: block
}

.sgv2 .c-subsite-show .c-subsite-not-insubsite {
    display: none
}

.c-menu__link {
    padding: 15px 30px 15px 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    border: 0;
    text-align: left
}

.c-menu .c-menu__link {
    position: relative;
    border-top: 1px solid #eee;
    border-top: 1px solid var(--color-light-4, #eee);
    color: #333;
    color: var(--color-dark-2, #333);
    font-size: .857142em;
    font-size: var(--body-font-size-sm, .857142em);
    letter-spacing: .0086rem;
    letter-spacing: var(--letter-spacing-sm, .0086rem);
    line-height: var(--body-line-height-sm, );
    text-transform: uppercase;
    text-transform: var(--site-nav-text-transform, uppercase);
    font-family: ProximaNova-Medium, sans-serif;
    font-weight: 400
}

.c-menu .c-menu__link--no-border {
    border: 0
}

.c-menu .c-subsite-icon {
    font-size: 26px;
    padding-right: 5px
}

.c-menu__link[aria-expanded=true] {
    font-family: ProximaNova-SemiBold, sans-serif;
    font-family: var(--base-font-bold, "ProximaNova-SemiBold", sans-serif);
    font-weight: 400
}

.c-menu__link[aria-expanded=true] .icon-plus-thin:before {
    content: ""
}

.c-menu__link--icon {
    padding-left: 17px
}

.c-menu__acct .c-menu__link {
    border: 0
}

.c-menu__acct-list .c-menu__link {
    font-family: ProximaNova-Regular, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1em;
    font-size: var(--body-font-size-reg, 1em);
    line-height: var(--body-line-height-reg, )
}

.c-menu__cs {
    border-top: 25px solid #f7f7f7;
    border-top: 25px solid var(--color-light-3, #f7f7f7)
}

.sgv2 .c-menu li:not(:first-child):not(:last-child):not(.c-menu__search) {
    padding: 0 6px 4px
}

.sgv2 .c-menu a.c-menu__link {
    font-size: 1em;
    font-size: var(--body-font-size-reg, 1em);
    line-height: var(--body-line-height-reg, );
    padding: 16px 14px;
    border-top: none;
    background-color: var(--color-light-5);
    height: auto
}

.sgv2 .c-menu span.c-menu__link {
    border-top: none;
    background-color: none;
    height: auto;
    padding: 0;
    margin-top: 6px
}

.sgv2 .c-menu__cs {
    border-top: 1px solid var(--color-gray-1)
}

.sgv2 .c-menu__cs a.c-menu__link {
    padding: 23px 20px
}

.sgv2 .c-menu__acct a.c-menu__link {
    padding: 16px 18px 16px 20px
}

.sgv2 .c-menu__acct-list a.c-menu__link {
    padding: 10px 0 10px 48px
}

.sgv2 .c-menu__search .c-menu__link {
    padding: 0;
    height: auto
}

.sgv2 .c-menu__search .c-search-mobile__input {
    font-size: 12px
}

.c-submenu .c-menu__link {
    letter-spacing: .0072rem;
    letter-spacing: var(--letter-spacing-xs, .0072rem)
}

.c-submenu__btn {
    padding-left: 20px;
    padding-right: 12px
}

.c-submenu__btn .icon:before {
    font-size: 18px
}

.c-submenu__list {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: visibility .4s ease, max-height .4s ease
}

.c-menu__link[aria-expanded=true]+.c-submenu__list {
    max-height: 1800px;
    visibility: visible
}

.sgv2 .c-submenu>div {
    background-color: var(--color-light-5)
}

.sgv2 .c-submenu .c-menu__link {
    padding: 15px 20px;
    height: auto
}

.sgv2 .c-submenu__list {
    background-color: var(--color-light-1)
}

.sgv2 .c-submenu__list .c-menu__link {
    padding-left: 35px
}

.sgv2 {
    --mobile-menu-width: 300px
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

.c-site-nav-mobile__wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 1px;
    z-index: 80;
    width: 100vw
}

.c-site-nav-mobile__wrap:before {
    content: "";
    display: block;
    height: 290px;
    min-height: calc(100vh - 65px);
    width: 340px;
    width: var(--mobile-menu-width, 340px);
    background: #fff
}

.c-site-nav-mobile__wrap.is-visible {
    display: block;
    -webkit-animation: slideIn .25s ease forwards;
    animation: slideIn .25s ease forwards
}

.c-site-nav-mobile__wrap.is-closing {
    -webkit-animation: slideOut .25s ease forwards;
    animation: slideOut .25s ease forwards
}

.c-site-nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    max-height: calc(100vh - 70px);
    width: 100vw
}

.c-site-nav-mobile__overflow {
    overflow-y: auto;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.c-site-nav-mobile__list {
    width: 340px;
    width: var(--mobile-menu-width, 340px);
    margin-bottom: 160px;
    text-align: left;
    box-shadow: 0 3px 4px 3px rgba(0, 0, 0, .15);
    background-color: #fff
}

.c-site-nav-mobile__list .icon-arrow-right,
.c-site-nav-mobile__list .icon-minus-thin,
.c-site-nav-mobile__list .icon-plus-thin {
    font-size: 13px;
    color: #333;
    color: var(--color-dark-2, #333);
    font-weight: 700
}

.sgv2 .c-site-nav-mobile__list .icon-arrow-right,
.sgv2 .c-site-nav-mobile__list .icon-minus-thin,
.sgv2 .c-site-nav-mobile__list .icon-plus-thin {
    font-weight: 400;
    font-size: 16px
}

.sgv2 .c-site-nav-mobile,
.sgv2 .c-site-nav-mobile__wrap {
    width: 340px;
    width: var(--mobile-menu-width, 340px)
}

.sgv2 .c-site-nav-mobile--search,
.sgv2 .c-site-nav-mobile--search .c-site-nav-mobile {
    width: 100vw
}

.sgv2 .c-site-nav-mobile--search .c-search-mobile__input-group {
    border: 0
}

.c-site-nav-mobile--search .c-site-nav-mobile__list,
.sgv2 .c-site-nav-mobile__list {
    box-shadow: none
}

.c-menu-enter-active {
    opacity: 0;
    transition: opacity .1s ease-in-out
}

.c-menu-enter-to {
    opacity: 1
}

.c-site-nav-mobile--search {
    display: block;
    -webkit-animation: none !important;
    animation: none !important
}

.c-site-nav-mobile--search:before {
    height: 0;
    min-height: 0
}

.c-site-nav-mobile--search .c-site-nav-mobile__list {
    width: 100%;
    background: #f7f7f7;
    background: var(--color-light-3, #f7f7f7);
    margin-bottom: 0
}

.c-site-nav-mobile--search .c-menu,
.c-site-nav-mobile--search .c-submenu {
    transition: none !important
}

.c-site-nav-mobile--search .c-menu>li:not(.c-menu__search) {
    display: none
}

.c-site-nav-mobile--search .tt-dropdown {
    position: static;
    border-top: 1px solid #eee;
    border-top: 1px solid var(--color-light-4, #eee)
}

.c-cartmsg__icon {
    margin: -4px -4px 0 2px
}

.c-cartmsg__tt {
    transform: translateX(20%)
}

.c-tool-tip__top.c-cartmsg__tt:before {
    right: 22%
}

.c-cartmsg__tt-body {
    width: 160px
}

.c-cartmsg--right .c-cartmsg__tt {
    transform: translateX(9%)
}

.c-cartmsg--right .c-cartmsg__tt:before {
    right: 10.5%
}

.c-shop-bag {
    display: flex;
    margin-right: 15px
}

.c-shop-bag,
.c-shop-bag__icon {
    justify-content: center;
    width: 100%
}

.c-shop-bag__icon {
    font-size: 25px;
    position: relative;
    text-align: center;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none
}

.c-shop-bag__icon:hover {
    color: #aaa;
    color: var(--color-gray-2, #aaa)
}

.c-shop-bag__count {
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 48%;
    left: 53%;
    background-color: #222;
    color: #fff;
    border-radius: 50%;
    letter-spacing: 0
}

.c-shop-bag__count--text {
    height: 6px;
    display: inline-block;
    line-height: 8px
}

@media screen and (min-width: 1280px) {
    .c-shop-bag__icon {
        font-size: 23px
    }
}

.sgv2 .c-shop-bag__icon {
    font-size: 19px
}

.sgv2 .c-shop-bag__icon:hover {
    color: #767676;
    color: var(--color-gray-4, #767676)
}

.c-bag-menu .c-progbar__heading {
    margin-left: -20px;
    margin-right: -20px
}

.c-bag-menu .c-cart-subtotal__label {
    display: none
}

.c-bag-menu .c-sb-cart__total {
    justify-content: center
}

.c-bag-menu .c-cart-subtotal__amount {
    text-transform: none;
    font-size: .857142em;
    font-size: var(--body-font-size-sm, .857142em);
    font-family: ProximaNova-SemiBold, sans-serif;
    font-family: var(--base-font-bold, "ProximaNova-SemiBold", sans-serif)
}

.c-bag-menu .c-cart-subtotal__amount,
.c-bag-menu .c-cartmsg__headline {
    letter-spacing: .0072rem;
    letter-spacing: var(--letter-spacing-xs, .0072rem);
    font-weight: 400
}

.c-bag-menu .c-cartmsg__headline {
    font-size: .7142857em;
    font-size: var(--body-font-size-xs, .7142857em);
    font-family: ProximaNova-Regular, sans-serif
}

.c-bag-menu .c-cartmsg__icon {
    font-size: 13px;
    margin: 0 0 0 3px;
    vertical-align: text-bottom
}

.c-bag-menu .c-cartmsg__tt {
    transform: translateX(8%)
}

.c-bag-menu .c-cartmsg__tt:before {
    right: 12%
}

.c-bag-menu .c-nav__tray {
    opacity: 0;
    overflow: visible;
    overflow: initial
}

.c-bag-menu.c-nav__item--open .c-nav__tray,
.c-bag-menu.c-nav__item:hover .c-nav__tray,
.c-bag-menu.keynav--open .c-nav__tray {
    opacity: 1
}

.c-bag-menu__btns .c-btn--md {
    width: 105px;
    padding: 0;
    font-size: .857142em;
    font-size: var(--body-font-size-sm, .857142em);
    letter-spacing: .025rem;
    letter-spacing: var(--letter-spacing-md, .025rem)
}

.c-bag-menu__btns .c-btn--block {
    width: 100%
}

.c-drawer {
    background-color: #fff;
    box-shadow: 6px 6px 11px rgba(0, 0, 0, .3);
    display: flex;
    height: var(--drawer-height);
    width: var(--drawer-width);
    overflow: visible;
    position: fixed;
    bottom: 0;
    z-index: 120;
    transition: transform .3s ease-in-out
}

.c-drawer--left {
    left: 0
}

.c-drawer--left,
.c-drawer--right {
    transform: translateX(var(--swipe-delta))
}

.c-drawer--right {
    right: 0;
    max-width: 100%
}

.c-drawer--bottom {
    bottom: 0;
    transform: translateY(var(--swipe-delta))
}

.c-drawer--swiping {
    transition: none
}

.c-drawer__swipe-bar {
    position: absolute
}

.c-drawer--bottom .c-drawer__swipe-bar {
    width: 100%;
    height: 60px;
    top: 0
}

.c-drawer--left .c-drawer__swipe-bar {
    width: 60px;
    height: 100%;
    right: 0
}

.c-drawer--right .c-drawer__swipe-bar {
    width: 60px;
    height: 100%;
    left: 0
}

.c-drawer__close {
    font-size: 22px;
    background: transparent;
    color: #000;
    border: 0;
    cursor: pointer;
    line-height: 0;
    padding: .75em .5em;
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 30;
    text-shadow: #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px
}

.c-drawer__content {
    padding: 30px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.c-drawer__content--no-padding {
    padding: 0
}

.drawer-right-enter-active,
.drawer-right-leave-active {
    transform: translateX(100%)
}

.drawer-right-enter-to,
.drawer-right-leave-from {
    transform: translateX(0)
}

.drawer-left-enter-active,
.drawer-left-leave-active {
    transform: translateX(-100%)
}

.drawer-left-enter-to,
.drawer-left-leave-from {
    transform: translateX(0)
}

.drawer-bottom-enter-active,
.drawer-bottom-leave-active {
    transform: translateY(100%)
}

.drawer-bottom-enter-to,
.drawer-bottom-leave-from {
    transform: translateY(0)
}

.drawer-body-enter-active {
    transition: opacity .3s ease-in-out;
    overflow: hidden
}

.drawer-body-leave-active {
    display: none
}

.drawer-body-enter {
    opacity: 0
}

@media screen and (max-width: 1279px) {
    .c-drawer {
        height: auto;
        max-height: var(--drawer-height);
        width: 100%
    }

    .c-drawer--left,
    .c-drawer--right {
        height: var(--drawer-height);
        max-height: 100%;
        width: var(--drawer-width)
    }
}

.c-site-overlay {
    background-color: rgba(0, 0, 0, .35);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
    transition: visibility .25s ease 0s, opacity .25s ease 0s, z-index .25s step-end;
    height: var(--overlay-height)
}

.c-site-overlay.is-active {
    visibility: visible;
    opacity: 1;
    transition: visibility .25s ease 0s, opacity .25s ease 0s, z-index .25s step-start
}

.c-site-overlay.allow-header {
    z-index: 50
}

.c-drawer--site-menu {
    height: 100vh;
    top: 0;
    z-index: 100
}

.c-drawer--site-menu:before {
    content: "";
    z-index: 1;
    position: absolute;
    height: 64px;
    width: 97%;
    right: unset;
    background: #fff
}

/* .c-site-overlay {
    z-index: 2;
    top: 0;
    height: 100vh
} */

.c-drawer__close {
    top: 25px;
    font-size: 25px
}

.c-header {
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    z-index: 100
}

.c-header__logowrap {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width: 549px) {
    .c-header__logowrap-with-flag-icon {
        transform: translate(calc(-50% - 1.4em), -50%);
        left: calc(50% - 1.4em)
    }
}

.c-header__logo {
    display: block;
    position: relative;
    text-align: center;
    font-size: 28px
}

.c-header__logo-img {
    width: 73px;
    max-width: none
}

.c-header__nav {
    display: none
}

.c-header__menu-right {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    height: 60px;
    margin-left: auto
}

.c-header__menu-left {
    padding-left: 15px;
    margin-top: 12px
}

.c-header__menu-left .icon {
    color: #333;
    color: var(--color-dark-2, #333);
    font-size: 20px
}

.c-header__menu-left:hover .icon {
    color: #aaa;
    color: var(--color-gray-2, #aaa);
    transition: color .1s
}

.c-header__menu-left .c-nav__link:first-of-type {
    padding-left: 5px
}

@media screen and (max-width: 1279px) {
    .c-header {
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid var(--color-light-4, #eee)
    }

    .c-btn-search--mobile {
        padding: 4px 13px 0 0
    }
}

@media screen and (min-width: 1280px) {
    .c-header {
        flex-direction: column;
        align-items: flex-end;
        height: 125px;
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid var(--color-light-4, #eee)
    }

    .c-header,
    .c-header__menu {
        width: 100%
    }

    .sgv2 .c-header__menu {
        padding: 0 40px
    }

    .c-header__logo {
        font-size: 40px
    }

    .c-header__logowrap {
        top: 10px;
        transform: translate(-50%)
    }

    .c-header__logo-img {
        width: 105px
    }

    .c-header__menu-right {
        position: relative;
        z-index: 11;
        padding-top: 14px;
        height: 70px
    }

    .c-header__search {
        margin-right: 3px;
        background: transparent
    }

    .c-header__nav {
        display: flex;
        align-items: stretch;
        justify-content: center;
        order: 1;
        width: 100%
    }

    .c-header--min {
        flex-direction: row
    }

    .c-header--min .c-header__nav {
        z-index: 12;
        order: 0
    }

    .c-header--min .c-header__logowrap,
    .c-header--min .c-header__menu-right,
    .c-header--min .c-header__menu {
        display: none
    }
}

@media screen and (min-width: 1280px) {
    .c-header__logo-subsite {
        font-size: 50px
    }
}

.c-sticky-header {
    position: sticky;
    top: 0;
    z-index: 100
}

@media screen and (min-width: 1280px) {
    .c-sticky-header {
        transform: translateY(0);
        transition: transform .3s cubic-bezier(.2, .93, .8, .9)
    }

    .c-sticky-header--min {
        transform: translateY(-71px);
        transition-duration: .4s
    }

    .c-sticky-header--noanimate {
        transition: none
    }
}

.c-flatten-messaging p {
    display: inline
}

.c-newsletter-disclaimer__no-vertical-spacing p {
    margin-bottom: 0
}

.u-text-light-gray {
    color: #d1d1d1;
    color: var(--color-gray-2, #d1d1d1)
}

.u-text-medium-gray {
    color: #aaa;
    color: var(--color-gray-2, #aaa)
}

.c-title__btn {
    width: 100%;
    border: none;
    background-color: #fff
}

li:empty {
    display: none
}

@media screen and (max-width: 1279px) {
    li[\:has\(\:is\(a\.u-hidden-not-desktop\)\)] {
        display: none
    }

    li:has(:is(a.u-hidden-not-desktop)) {
        display: none
    }
}

.c-install-banner {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 180;
    background-color: #333;
    background-color: var(--color-dark-2, #333)
}

.c-install-banner__icon {
    border: 1px solid #fff;
    border-radius: 10px
}

.c-install-banner__install {
    margin-left: auto
}

.c-search__wrapper {
    position: sticky;
    top: 61px;
    z-index: 50;
    background-color: #fff
}

.c-search__wrapper .c-search {
    padding-top: 12px;
    padding-bottom: 12px
}

.c-search__wrapper .c-search__group {
    background-color: #f7f7f7;
    background-color: var(--color-light-3, #f7f7f7);
    border-radius: 25px;
    height: 40px
}

.c-search__wrapper .c-search__left-icon {
    font-size: 19px;
    padding-left: 15px
}

.c-search__wrapper .c-search__right-icon {
    font-size: 12px
}

.sgv2 .c-search__wrapper .c-search {
    padding-top: 12px;
    padding-bottom: 12px
}

.c-sg {
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    margin: 0 auto;
    position: fixed;
    max-width: 95%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 140;
    transition: opacity .2s linear
}

.c-sg--full {
    width: 1200px
}

.c-sg--default {
    width: 890px
}

.c-sg--mini {
    width: 410px
}

.c-sg--micro,
.c-sg--miniright {
    left: auto;
    bottom: 140px;
    z-index: 110;
    height: 160px;
    transform: translateX(calc(100% - 30px))
}

.c-sg--miniright {
    transition: transform .3s ease-in-out;
    transform: translateX(0)
}

.c-sg--disclaimer {
    left: 0;
    right: auto;
    background-color: rgba(0, 0, 0, .77)
}

@media screen and (max-width: 1279px) {
    .c-sg--full {
        max-width: 90%;
        width: 600px
    }
}

@media screen and (min-width: 761px) {
    .c-sg--disclaimer {
        width: 600px
    }
}

@media screen and (max-width: 760px) {
    .c-sg {
        max-width: 100%
    }

    .c-sg--default,
    .c-sg--full {
        width: 100%;
        left: 0;
        right: 0;
        z-index: 160
    }
}

@media screen and (max-width: 549px) {
    .c-sg--mini {
        width: auto
    }
}

.sg-fade-enter-active,
.sg-fade-leave-active {
    opacity: 0
}

.sg-slide-enter-active,
.sg-slide-leave-active {
    opacity: 0;
    transform: translateY(100%)
}

.c-loyalty-cpn {
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 90;
    background-color: #f9f3ed;
    border: 1px solid #f7f7f7;
    border: 1px solid var(--color-light-3, #f7f7f7);
    font-size: .875rem;
    font-size: var(--base-font-size, .875rem);
    min-width: 340px
}

.c-loyalty-cpn__header {
    position: relative;
    display: block;
    padding: 15px;
    text-align: center;
    cursor: pointer
}

.c-loyalty-cpn__header h2 {
    font-size: 14px;
    letter-spacing: 0
}

.c-loyalty-cpn__header i {
    position: absolute;
    font-size: 20px;
    right: 20px
}

.c-loyalty-cpn__coupon {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-color: var(--color-light-1, #fff);
    border-radius: 5px;
    padding: 15px
}

.c-loyalty-cpn__wrapper {
    max-height: 322px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 15px
}

.c-loyalty-cpn__wrapper div:last-child {
    margin-bottom: 0
}

.c-loyalty-cpn__name {
    font-size: 14px
}

.c-loyalty-cpn__name:before {
    font-family: ProximaNova-Regular, sans-serif;
    font-weight: 400;
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    width: 100%;
    left: 0;
    top: 40px;
    background-color: #f9f3ed
}

.c-loyalty-cpn__desc {
    font-size: 16px
}

.c-loyalty-cpn__code,
.c-loyalty-cpn__desc {
    font-family: ProximaNova-Medium, sans-serif;
    font-weight: 400
}

.c-loyalty-cpn__code {
    font-size: 12px
}

.c-loyalty-cpn__info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px
}

.c-loyalty-cpn__copy {
    margin: 0;
    opacity: 1
}

.c-loyalty-cpn__copy:active {
    opacity: .5
}

.c-loyalty-cpn__rules {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    align-items: baseline
}

@media screen and (max-width: 760px) {
    .c-loyalty-cpn {
        right: 0;
        left: 0
    }

    .c-loyalty-cpn__header {
        padding: 10px 15px
    }
}

@media screen and (max-width: 1279px)and (orientation:landscape) {
    .c-loyalty-cpn__wrapper {
        max-height: 153px
    }
}

.c-promo-toast {
    position: fixed;
    right: 0;
    bottom: var(--bottom-position);
    transform: rotate(-90deg) translateX(100%);
    transform-origin: right bottom;
    z-index: 99;
    box-shadow: -3px 3px 6px 2px rgba(0, 0, 0, .12);
    display: flex;
    transition: bottom .3s ease-in-out
}

.c-promo-toast .c-btn {
    color: #fff;
    border-color: #000;
    background-color: #000
}

.c-promo-toast .c-btn--xs {
    padding: 6px 6px 6px 12px
}

.c-promo-toast__close {
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    left: -1px;
    padding: 0 6px 0 1px;
    pointer-events: all;
    position: relative
}

.c-promo-toast__close:hover {
    color: #d1d1d1;
    color: var(--color-gray-2, #d1d1d1)
}

.c-btn.special {
    border-color: #ffd0cb;
    background-color: #ffd0cb
}

@media screen and (max-width: 760px) {
    .c-promo-toast .c-btn {
        border: none
    }
}

@media screen and (max-width: 760px)and (orientation:landscape) {
    .c-promo-toast {
        bottom: 85px
    }
}

@media screen and (max-width: 760px)and (orientation:landscape)and (max-width:760px)and (orientation:landscape) {
    .c-promo-toast {
        bottom: 85px
    }

    .c-promo-toast--chat-tab {
        bottom: 40px
    }
}

.c-modal {
    background-color: #fff;
    box-shadow: 6px 6px 11px rgba(0, 0, 0, .3);
    display: flex;
    left: 0;
    margin: 0 auto;
    max-height: calc(100vh - 150px);
    max-width: calc(100vw - 30px);
    min-width: 450px;
    overflow: visible;
    padding-top: 30px;
    position: fixed;
    right: 0;
    top: 75px;
    z-index: 120
}

.c-modal.c-modal--sitegate {
    top: 50%;
    transform: translateY(-50%)
}

.c-modal--car {
    max-width: calc(100vw - 90px)
}

.c-modal--quickview {
    max-height: calc(100vh - 70px);
    padding-top: 0
}

.c-modal__close {
    font-size: 20px;
    background: transparent;
    color: #000;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    line-height: 0;
    padding: .75em .5em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;
    text-shadow: #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px
}

.c-modal .c-modal__close {
    right: -3px;
    top: 3px;
    font-size: 17px
}

.c-modal__close--fb {
    left: 0;
    background: #f7f7f7;
    background: var(--color-light-3, #f7f7f7);
    color: #000;
    font-size: 1.142857em;
    font-size: var(--body-font-size-lg, 1.142857em);
    width: 100%;
    text-align: left;
    padding: 21px;
    font-family: ProximaNova-SemiBold, sans-serif;
    font-family: var(--base-font-bold, "ProximaNova-SemiBold", sans-serif);
    font-weight: 400
}

.c-modal__close--fs {
    padding: 20px
}

.c-modal__content {
    padding: 20px 60px 50px;
    width: 100%
}

.c-modal__content:not(.is-overflow-vis) {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.c-modal--loading {
    min-height: 300px
}

.modal-enter,
.modal-leave-active {
    opacity: 0;
    transform: scale(1.1)
}

.m-body-enter-active {
    transition: opacity .3s ease-in-out;
    overflow: hidden
}

.m-body-leave-active {
    display: none
}

.m-body-enter {
    opacity: 0
}

@media screen and (min-width: 761px)and (max-width:1279px) {
    .c-modal {
        top: 50%;
        transform: translateY(-50%);
        max-height: 100vh
    }
}

@media screen and (max-width: 760px) {
    .c-modal {
        top: 15px;
        transform: none;
        max-height: calc(100% - 30px);
        min-width: 0
    }

    .c-modal__content {
        padding-left: 20px;
        padding-right: 20px
    }

    .c-modal--fb {
        top: 0;
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%
    }

    .c-modal__content--fb {
        padding-top: 15px
    }

    .c-modal__content--fb-text {
        margin-top: 15px
    }
}

.c-modal--fs {
    top: 0;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    transform: none
}

.c-modal__content--fs {
    padding: 0
}