.c-progbar {
    padding: 5px 30px;
    overflow: hidden;
    border: 1px solid #f7f7f7;
    border: 1px solid var(--color-light-3, #f7f7f7);
    height: 1.5em;
    margin: .3em 0 .5em;
    background-color: #f7f7f7;
    background-color: var(--color-light-3, #f7f7f7)
}

.c-progbar__meter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fadede;
    transform: translateX(-100%);
    border-radius: 5px
}

.c-progbar__meter-animation {
    -webkit-animation: meter-slide 1s ease-in-out .5s forwards;
    animation: meter-slide 1s ease-in-out .5s forwards
}

.c-progbar__content {
    color: #e65a5a
}

.c-progbar--none .c-progbar__meter {
    display: none
}

.c-progbar--done .c-progbar__meter {
    left: 0
}

.c-progbar__tick {
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 0;
    border-left: 1px solid #767676;
    border-left: 1px solid var(--color-gray-4, #767676);
    height: 5px;
    width: 0
}

@-webkit-keyframes meter-slide {
    to {
        transform: translateX(0)
    }
}

@keyframes meter-slide {
    to {
        transform: translateX(0)
    }
}

.c-prod__img.c-img[data-v-336ca53f] {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0
}

.c-ptf__action[data-v-336ca53f] {
    position: absolute;
    bottom: 100px;
    visibility: hidden;
    left: 0;
    width: 100%;
    z-index: 40;
    text-align: center
}

.c-ptf__action .c-btn[data-v-336ca53f] {
    width: 75%;
    border: 0;
    background: hsla(0, 0%, 100%, .8)
}

.c-ptf__action--waitlist[data-v-336ca53f] {
    bottom: 50%;
    transform: translateY(50%);
    visibility: visible
}

.c-ptf__action--waitlist .c-btn[data-v-336ca53f] {
    width: 100%
}

.sgv2 .c-ptf__action[data-v-336ca53f] {
    bottom: 10px;
    left: 10px;
    right: 10px;
    transform: none;
    width: auto
}

.sgv2 .c-ptf__action .c-btn[data-v-336ca53f] {
    width: 100%;
    font-size: 1.142857em;
    font-size: var(--body-font-size-lg, 1.142857em)
}

.sgv2 .c-ptf__action .c-btn[data-v-336ca53f]:hover {
    background: #fff
}

.c-img-hover[data-v-336ca53f] {
    position: relative;
    display: block;
    text-align: center;
    background-color: #f7f7f7;
    background-color: var(--color-light-3, #f7f7f7);
    margin-bottom: 10px;
    height: 0;
    padding-top: 150%
}

.c-prod__img.c-img-2[data-v-336ca53f] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out .3s;
    z-index: 20;
    width: 100%
}

.c-img-hover-wrapper[data-v-336ca53f] {
    position: relative
}

.c-img-hover-wrapper:hover .c-img-2[data-v-336ca53f] {
    opacity: 1
}

.c-img-hover-wrapper:hover .c-ptf__action[data-v-336ca53f] {
    visibility: visible
}

.c-pt[data-v-336ca53f] {
    position: relative;
    display: block;
    margin: 0 5px 5px;
    text-align: left;
    text-decoration: none;
    padding: 10px;
    background-color: #f7f7f7;
    background-color: var(--color-light-3, #f7f7f7);
    border-radius: 6px
}

.c-pt .c-img[data-v-336ca53f] {
    width: 100%
}

.c-pt .c-prod__img[data-v-336ca53f] {
    background: #f7f7f7;
    background: var(--color-light-3, #f7f7f7)
}

.c-pt .c-ptf__action[data-v-336ca53f] {
    bottom: 68px
}

.c-pt__badge[data-v-336ca53f] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: 40;
    opacity: .8;
    background: hsla(0, 0%, 100%, .8);
    color: #333;
    color: var(--color-dark-4, #333);
    padding: .822rem 1rem
}

.c-pt__badge span[data-v-336ca53f] {
    opacity: 1;
    font-family: ProximaNova-SemiBold, sans-serif;
    font-family: var(--base-font-bold, "ProximaNova-SemiBold", sans-serif);
    font-weight: 400;
    letter-spacing: 1.75px;
    text-align: center;
    text-transform: uppercase
}

.c-pt__info[data-v-336ca53f] {
    margin-top: 10px;
    text-align: left
}

.c-pt__price[data-v-336ca53f] {
    margin: 15px 0 6px
}

.c-flash-data[data-v-336ca53f] {
    background-color: #f7f7f7;
    background-color: var(--color-light-3, #f7f7f7);
    padding: 0;
    text-align: center
}

.c-size-box[data-v-336ca53f] {
    height: 40px
}

.c-soldOut[data-v-336ca53f] {
    text-align: left;
    color: #aaa;
    color: var(--color-gray-2, #aaa);
    border-color: #fff
}

.c-wishlistadd[data-v-336ca53f]:before {
    content: "Add To "
}

.c-pt__price-reg[data-v-336ca53f] {
    padding: 0 5px
}

@media screen and (max-width: 1904px) {
    .c-wishlistadd[data-v-336ca53f]:before {
        content: "+ "
    }
}

@media screen and (min-width: 1280px) {
    .c-pt[data-v-336ca53f] {
        padding: 15px
    }

    .c-pt .c-ptf__action[data-v-336ca53f] {
        bottom: 38px
    }
}

@media screen and (min-width: 1025px)and (max-width:1279px) {
    .c-btn--block[data-v-336ca53f] {
        height: 40px;
        padding: .35em 1em
    }
}

@media screen and (max-width: 1279px) {
    .u-text-lg[data-v-336ca53f] {
        font-size: inherit
    }

    .c-pt__price-reg[data-v-336ca53f] {
        padding: inherit 3px
    }
}

@media screen and (min-width: 761px)and (max-width:1279px) {
    .c-size-box[data-v-336ca53f] {
        height: 40px
    }
}

@media screen and (max-width: 760px) {
    .c-pt[data-v-336ca53f] {
        margin: 0 3px 5px
    }

    .c-size-box[data-v-336ca53f] {
        height: 35px;
        font-size: 1em
    }

    .c-pt__name[data-v-336ca53f] {
        margin: 0 0 10px
    }

    .c-pt__price[data-v-336ca53f] {
        white-space: nowrap;
        margin: 5px 0 10px
    }

    .c-btn--block[data-v-336ca53f] {
        padding: .45em;
        font-size: 16px;
        letter-spacing: 1.6px
    }
}

@media screen and (max-width: 374px) {
    .c-pt__price-pct[data-v-336ca53f] {
        display: block
    }

    .c-btn--block[data-v-336ca53f] {
        padding: .45em .25em;
        letter-spacing: 1.5px
    }
}

.c-progbar[data-v-336ca53f] {
    background-color: #767676;
    background-color: var(--color-gray-4, #767676);
    height: 20px;
    border: none;
    padding: 2px 10px;
    width: 100%
}

.c-img-hover[data-v-336ca53f] {
    margin: 0
}

.c-btn--block[data-v-336ca53f] {
    margin: 10px 0 0;
    font-size: 16px;
    letter-spacing: 1.6px
}

.sgv2 .c-wishlistadd[data-v-336ca53f]:before {
    content: "Add to "
}

.c-flash-data .c-progbar {
    margin-top: 0
}

.c-pt__progbar .c-progbar__meter {
    border-radius: 0 10px 10px 0;
    background-color: #000
}

.c-pt__progbar .c-progbar__content {
    padding: 2px 10px;
    color: #fff
}

.c-pt__progbar--full .c-progbar__meter {
    border-radius: 0
}

@media screen and (max-width: 760px) {
    .c-select--midprofile-flashdeal .c-form__select {
        font-size: 14px
    }
}

.c-xsell[data-v-a803f348] {
    position: relative
}

.c-xsell-placeholder .c-loading--fill[data-v-a803f348] {
    padding-top: 40px;
    background: none;
    opacity: .5;
    z-index: 50
}

.c-xsell-placeholder[data-v-a803f348] {
    position: relative
}

.c-xsell-placeholder[data-v-a803f348]:after {
    content: "";
    position: absolute;
    z-index: 40;
    top: 40px;
    left: 5px;
    height: 210px;
    width: 100%;
    background-color: #f7f7f7;
    background-color: var(--color-light-3, #f7f7f7);
    background-image: repeating-linear-gradient(90deg, #f7f7f7, #f7f7f7 140px, #fff 0, #fff 150px);
    background-image: repeating-linear-gradient(90deg, var(--color-light-3, #f7f7f7), var(--color-light-3, #f7f7f7) 140px, #fff 0, #fff 150px)
}

.c-xsell .c-xsell__heading--qv[data-v-a803f348] {
    font-family: ProximaNova-SemiBold, sans-serif;
    font-family: var(--base-font-bold, "ProximaNova-SemiBold", sans-serif);
    font-weight: 400;
    font-size: 1rem;
    font-size: var(--heading-font-size-h5, 1rem);
    margin-bottom: 5px;
    padding: 0
}

@media screen and (max-width: 760px) {
    .c-xsell-placeholder[data-v-a803f348]:after {
        height: calc(100% - 40px);
        background-image: repeating-linear-gradient(90deg, #f7f7f7, #f7f7f7 120px, #fff 0, #fff 130px);
        background-image: repeating-linear-gradient(90deg, var(--color-light-3, #f7f7f7), var(--color-light-3, #f7f7f7) 120px, #fff 0, #fff 130px)
    }
}

.c-xsell .c-car__scrollbar-wrap[data-v-a803f348] {
    margin-top: 20px
}

@media screen and (min-width: 1280px) {
    .c-xsell[data-v-a803f348] {
        padding-left: 90px;
        padding-right: 90px
    }
}

@media screen and (min-width: 1905px) {
    .c-xsell[data-v-a803f348] {
        padding-left: 220px;
        padding-right: 220px
    }
}

@media screen and (min-width: 761px)and (max-width:1279px) {
    .c-xsell[data-v-a803f348] {
        padding-left: 80px;
        padding-right: 80px
    }
}

@media screen and (max-width: 760px) {
    .c-xsell[data-v-a803f348] {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (max-width: 374px) {
    .c-xsell[data-v-a803f348] {
        padding-left: 10px;
        padding-right: 10px
    }
}

.c-heading--primary[data-v-a803f348] {
    padding: 1.5em 0 0;
    text-align: center;
    font-family: ProximaNova-SemiBold, sans-serif;
    font-family: var(--base-font-bold, "ProximaNova-SemiBold", sans-serif);
    font-weight: 400;
    font-size: 1.286em;
    font-size: var(--heading-font-size-h3, 1.286em);
    margin-bottom: 5px
}

.c-heading--subhead[data-v-a803f348] {
    font-size: 1.142857em;
    font-size: var(--heading-font-size-h4, 1.142857em);
    margin-bottom: 20px;
    text-align: center
}

@media screen and (min-width: 761px) {

    .c-heading--primary[data-v-a803f348],
    .c-heading--subhead[data-v-a803f348] {
        margin-left: 8px
    }
}

@media screen and (max-width: 760px) {
    .c-heading--primary[data-v-a803f348] {
        text-align: center;
        font-size: 1.142857em;
        font-size: var(--heading-font-size-h4, 1.142857em);
        padding: 1em 0 0;
        margin-bottom: 0
    }

    .c-heading--subhead[data-v-a803f348] {
        font-size: 1rem;
        font-size: var(--heading-font-size-h5, 1rem);
        margin-bottom: 15px;
        text-align: center
    }
}

.icon-svg {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%
}

.icon-svg-heart {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 32.93 43.4" xmlns="http://www.w3.org/2000/svg"><path d="M14.15 42.95c3.24-3.24 5.81-7.32 8.29-11.28l.52-.82a100.36 100.36 0 007.35-13.52c2.74-6.33 3.32-11.24 1.79-15A3.28 3.28 0 0029.66.04c-2.56-.42-5.84 2.44-7.21 4-3.44 3.94-5.21 9.08-6.49 13.59-.35 1.23-.68 2.49-1 3.71-.35 1.34-.71 2.73-1.1 4.08s-.68 2.28-1 3.23c-.15.44-.29.84-.43 1.23l-.47 1.24-.83-1c-3.95-4.91-7-12.15-8.31-19.85v-.23a16.8 16.8 0 01-.33-3 1.83 1.83 0 01.52-1.46c.53-.49 1.15-.1 2 .43 4 2.58 5.66 7 6.63 10.5a1.66 1.66 0 00.77.92.7.7 0 00.63 0 1.45 1.45 0 00.57-1.38c-1-3.92-2-6.62-4.5-9.66-.88-1.1-3.45-3.41-5.75-3.58a2.82 2.82 0 00-2.22.81C-.42 5.06-.02 8.05.25 10.03v.16a49.36 49.36 0 003 11.27A41.09 41.09 0 009 32.11l.06.08c1.25 1.6 2.5 3 4.09 2s2.22-3.57 2.75-5.56c.12-.41.22-.8.33-1.14.54-1.75 1-3.57 1.48-5.32a60.79 60.79 0 013.78-11.28 17.66 17.66 0 015.12-6.71l.24-.19c.81-.66 1.28-.93 1.68-.93h.27l.19.06.14.15c.86.92.7 2.78.45 4.62a1.46 1.46 0 01-.06.52c-.7 6.09-4.35 11.91-7.57 17.05l-.71 1.13c-.45.72-.86 1.42-1.29 2.16-.8 1.37-1.63 2.79-2.7 4.28-.5.71-1.05 1.44-1.54 2.09s-.83 1.07-1.28 1.63a28 28 0 00-2.93 4.15 1.67 1.67 0 00.53 2.17 1.64 1.64 0 001 .33 1.55 1.55 0 001.12-.45z"/></svg>')
}

.c-home__flashdeals {
    padding: 15px 0;
    position: relative;
    z-index: 50
}

.c-index-wrap {
    width: 100%;
    overflow: hidden;
    position: relative
}

.c-index__heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
    margin: 0 auto;
    z-index: 1;
    opacity: .03
}

.c-index-content {
    position: relative;
    z-index: 2
}

.c-index-content div {
    text-align: center
}

#mobile-index {
    display: none
}

@media screen and (max-width: 760px) {
    #desktop-tablet-index {
        display: none
    }

    #mobile-index {
        display: block
    }
}

@media screen and (min-width: 1280px) {
    .c-home__xsell {
        width: 90%;
        margin-left: auto;
        margin-right: auto
    }
}